import React, { memo } from "react";
import { FormProvider } from "react-hook-form";
import { use<%= formName %> } from "./index.hooks";

type <%= formName %>Props = {}

export const <%= formName %> = memo(({}: <%= formName %>Props) => {
  const {
    formData,
    onSubmit,
  } = use<%= formName %>();

  return (
    <FormProvider {...formData}>
      <form onSubmit={onSubmit}></form>
    </FormProvider>
  );
});
<%= formName %>.displayName = "<%= formName %>";
